.topnav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-shadow: 2px 2px 2px rgba(78, 74, 74, 0.788);
  flex-wrap: wrap;
}
.topnav-ul a {
  font-family: fontThin;
  font-size: 2rem;
  text-decoration: none;
  color: rgb(246, 240, 255);
}
.topnav-ul a:active {
  color: rgba(45, 0, 128, 0.788);
}
.topnav-ul a:hover {
  color: rgba(45, 0, 128, 0.788);
  font-weight: 200;
  text-shadow: 2px 2px 2px rgba(78, 74, 74, 0.788);
}

.topnav-ul-sec {
  background-image: url(../Img/background.jpg);
}

.index-wrapper {
  display: flex;
  min-height: 91.7vh;
  flex-direction: column;
  justify-content: flex-start;
}

/* FOOTER [insert social media icons]*/
footer {
  display: flex;
  background-color: rgba(95, 158, 58, 0.7058823529);
  height: 50px;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding: 5px;
  margin-top: auto;
}

/* BUTTONS */
.buttonDiv {
  display: flex;
  justify-content: center;
  padding-bottom: 4.4rem;
}

.button {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-family: fontBold;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgba(104, 179, 54, 0.4705882353);
  padding: 1em 2.35em 1em 2.35em;
  max-width: 24em;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
}
.button:hover {
  background-color: rgba(104, 179, 54, 0.7529411765);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
  padding: 1.2em 2.6em 1.2em 2.6em;
  transition: all 0.5s;
}
.button:active {
  background-color: #68b336;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
  padding: 1.2em 2.6em 1.2em 2.6em;
}

.buttonInicio {
  text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 1.5em;
  color: #fff !important;
  justify-content: center;
}

.buttonUs {
  margin-bottom: 5rem;
}

.buttonEnviar {
  background-color: rgba(45, 0, 128, 0.61);
}

.buttonLink {
  text-decoration: none;
  color: white;
}

.styleProductos {
  font-family: fontRegular;
  font-size: 4vw;
  text-transform: uppercase;
  padding-right: 5rem;
  text-align: right;
  animation: sides 3s;
}

.row {
  display: flex;
  position: relative;
  margin-left: 10vw;
  margin-right: 10vw;
}

.card {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.card-img {
  width: 47%;
  display: flex;
  position: relative;
}
.card-img img {
  width: 20.896rem;
  height: 20.896rem;
  border-radius: 25px;
  border-radius: 25px;
}
.card-img div {
  position: absolute;
  font-size: 4.5rem;
  font-family: fontExtThin;
  top: 65%;
  left: 35%;
  transform: translate(-50% -50%);
  background-color: rgba(97, 160, 60, 0.6039215686);
  color: white;
}

.card-text {
  display: flex;
  align-items: center;
  width: 53%;
  font-size: 30px;
  font-family: fontThin;
  line-height: 1.5;
  letter-spacing: 2px;
}

.list {
  margin-bottom: 30px;
}

/* FONTS */
@font-face {
  font-family: fontRegular;
  src: url(../myFonts/ppneueworld-condensedregular-webfont.woff);
}
@font-face {
  font-family: fontExtThin;
  src: url(../myFonts/ppneueworld-extendedthin-webfont.woff);
}
@font-face {
  font-family: fontBold;
  src: url(../myFonts/ppneueworld-semicondensedultrabold-webfont.woff);
}
@font-face {
  font-family: fontBlack;
  src: url(../myFonts/ppneueworld-semiextendedblack-webfont.woff);
}
@font-face {
  font-family: fontLight;
  src: url(../myFonts/ppneueworld-supercondensedlight-webfont.woff);
}
@font-face {
  font-family: fontThin;
  src: url(../myFonts/ppneueworld-thin-webfont.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* video */
#myVideo {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 1100px;
  z-index: -1;
}

/* HEADER */
ul {
  list-style: none;
}

h1 {
  font-family: fontRegular;
  font-weight: 100;
  text-align: center;
  font-size: 23vw;
  text-size-adjust: auto;
  position: relative;
  margin-top: 0%;
  margin-bottom: 0;
  color: rgba(45, 0, 128, 0.788);
  max-width: 1900px;
}

.body {
  max-width: 1300px;
}

/* NOSOTROS PAG */
.nosotrosTxt {
  align-items: center;
  margin: 5% 13% 5% 13%;
}
.nosotrosTxt h3 {
  font-family: fontExtThin;
  font-size: 2rem;
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 2px rgba(138, 59, 212, 0.356);
}

.videoUs {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  max-width: 150%;
}

/* PROPIEDADES (retocar contenido)*/
.listaProp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 4rem;
}
.listaProp li {
  margin-bottom: 2rem;
  font-size: large;
  text-align: justify;
}

/* CONTACTO */
.formContainer {
  display: flex;
  justify-content: center;
  background-color: rgba(45, 0, 128, 0.32);
  padding-top: 6rem;
  padding-bottom: 6rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.formContainer form {
  width: 80%;
}
.formContainer form input {
  height: 30px;
  color: white;
}
.formContainer form textarea {
  color: white;
}

.listaForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.listaForm li {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-family: fontExtThin;
  color: white;
}

li input, textarea {
  background-color: rgba(36, 1, 102, 0.603);
  border-radius: 20px;
}

.user_msj {
  height: 5rem;
}

.containerFormButton {
  display: flex;
  justify-content: center;
}
.containerFormButton :hover {
  background-color: rgba(45, 0, 128, 0.801);
}

/* QUERIES */
@media (max-width: 900px) {
  h1 {
    font-size: 5rem;
    padding-top: 7rem;
  }
  .videoUs {
    width: 100%;
  }
  .topnav-ul {
    padding-bottom: 0.5rem;
    z-index: 3;
    width: 100vw;
  }
  .topnav-ul-index {
    position: absolute;
    background-color: none;
  }
  .styleProductos {
    padding-top: 5rem;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    padding-right: 0;
  }
  .card {
    flex-direction: column;
    justify-content: center;
  }
  article {
    width: 100%;
  }
  .card-img div {
    font-size: 3rem;
    left: 105%;
    top: 35%;
  }
  .card-img img {
    width: 15rem;
    height: 15rem;
  }
  .card-text {
    text-align: center;
    width: 100%;
  }
  .listaProp {
    margin-left: 0;
    margin-right: 0;
  }
}
@keyframes sides {
  from {
    text-align: left;
  }
  to {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
