$text-color-hover: rgba(45, 0, 128, 0.788);

.topnav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-shadow: 2px 2px 2px rgba(78, 74, 74, 0.788);
    flex-wrap: wrap;  
      a {
      font-family: fontThin; 
      font-size: 2rem;
      text-decoration: none;
      color: rgb(246, 240, 255);
          &:active{
              color: $text-color-hover; 
          }
          &:hover{
              color: $text-color-hover;
              font-weight: 200;
              text-shadow: 2px 2px 2px rgba(78, 74, 74, 0.788);
          }
      }
  }

  
.topnav-ul-sec {
    background-image: url(../Img/background.jpg); 
}
