.styleProductos {
    font-family: fontRegular;
    font-size: 4vw;
    text-transform: uppercase;
    padding-right: 5rem;
    text-align: right;
    animation: sides 3s;
  }
  
  .row {
    display: flex;
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw;
    
  }
  
  .card {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
  }
  
  .card-img {
    width: 47%;
    display: flex;
    position: relative;
    img{
      width: 20.896rem;
      height: 20.896rem;
      border-radius: 25px;;
      border-radius: 25px;
    }
    div {
      position: absolute;
      font-size: 4.5rem;
      font-family: fontExtThin;
      top: 65%;
      left: 35%;
      transform: translate(-50% -50%);
      background-color: #61a03c9a;
      color: white;
    }
  }
  
  
  .card-text {
    display: flex;
    align-items: center;
    width: 53%;
    font-size: 30px;
    font-family: fontThin;
    line-height: 1.5;
    letter-spacing: 2px;
  }
  
  .list {
    margin-bottom: 30px;
  }